<% #index PAGE %>
<% #Export localized header contents to the Layout %>
<% content_for :header_contents do %>
    <div class="row" xmlns="http://www.w3.org/1999/html">
      <div class="col-md-11 col-md-offset-1">
        <div class="col-md-4" style="margin-top: 60px">
          <img class="img-responsive" src= <%= image_path("views/plant_index/logo.png") %>  style="max-width: 90%;">
          <!--<img class="img-responsive" src="/img/views/plant_index/logo.png" style="max-width: 90%;">-->
        </div>
        <div class="col-md-7 " style="margin-top: 60px">
          <div id="carousel-example-generic" class="carousel slide " data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <a href="http://www.baidu.com">
                  <img src= <%= image_path("views/plant_index/slide4-zhiwu.jpg")%> alt="园林植物" class="img-responsive">
                </a>
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img src=<%= image_path("views/plant_index/slide2-jingguan.jpg") %>  alt="植物景观"
                     class="img-responsive">
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img class="img-responsive" alt="设计施工养护" src=<%= image_path("views/plant_index/slide3-yanghu.jpg") %> >
                <div class="carousel-caption"></div>
              </div>
              <div class="item">
                <img src=<%= image_path("views/plant_index/slide1-baike.jpg") %>  alt="百科全书"
                     class="img-responsive">
                <div class="carousel-caption"></div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
<% end %>

<article class="container">
    <section id="id-section-siteinfo" class="row row-section">
        <div class="col-md-10 col-md-offset-1 panel-styles button-text-panel text-center"
                style="margin-top: -157px;">
            <div style="margin: 35px 30px 45px 20px">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li><a href="#introduction" data-toggle="tab">网站简介</a></li>
                    <li><a href="#messages" data-toggle="tab">实事快讯</a></li>
                    <li><a href="#experts" data-toggle="tab">专家简介</a></li>
                    <li><a href="#services" data-toggle="tab">客服帮助</a></li>
                    <li><a href="#other_links" data-toggle="tab">相关链接</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content col-md-9" style="height: 650px;">
                    <div class="tab-pane active" id="introduction">
                        <div class="intro_title">
                            <p id="title_cn">中国园林植物资源应用数据库及网络咨询服务系统</p>
                            <p id="title_en" >Chinese garden plant resources
                                application database and
                                network
                                consulting service system</p>
                        </div>
                        <div class="intro_content">
                            <p>中国园林植物资源应用数据库及网络咨询服务系统是一套全国通用的园林植物资源应用数字化管理及网络咨询服务平台。
                            包括数据库管理、园林植物信息、植物景观资讯、景观图片展示、专家服务等主要功能模块，欢迎园林工作者加入。</p>
                            <P>中国园林植物资源应用数据库及网络咨询服务系统开发理念：首先根据中国版图上省、直辖市、自治区等行政区划为单位，
                            确定省或直辖市内的30万人口以上的城市目录，统计城市实际应用的主要园林植物名录；其次按空间垂直结构将园林植物分为
                            乔木、灌木、藤本、花卉、草本、地被六大类，把园林植物数据相关信息及植物景观相关照片综合起来，形成完整的植物景观
                            数据单元；再次邀请分布在各个领域的园林植物和植物景观设计专家加入，为全国不同地区园林植物景观设计相关问题进行解
                            答，满足植物景观设计者、施工者和养护管理着的需求；最后形成一套完整的园林工作者可适用的借助于计算机技术的网络数
                            据库和专家咨询系统。</p>
                            <p>园林植物资源应用数据库及网络咨询服务系统可以满足全国不同地理区域园林植物景观设计者、施工者、养护管理者的需求，
                            以及生长环境及分布情况等信息知识模块，满足技术人员信息量的不够的相关问题，解决植物景观构建领域中的复杂问题。可
                            供园林设计、施工及养护者参照，各方面专业技术人员提供可查询的系统，提供不同地理区域植物选择与应用的知识及专家系
                            统的设置，可以为不同地理区域的专家提供一个解决问题的平台，对植物设计、施工、养护中相关的技术问题指导，减少园林
                            植物应用中可能出现的失误，提高全国绿化水平。</p>
                            <p>总之，中国园林植物资源应用数据库及网络咨询服务系统为植物景观设计、施工与养护管理企业提供高质量的植物景观数
                            据库的数据单元，也为各地区的园林工作者提供参考。因此，园林植物相关信息的处理也必然走向数字化。</p>                                    　　　　
                        </div>
                    </div>
                    <div class="tab-pane" id="messages">
                      实事快讯
                      <!--<h1>Plant#index</h1>-->
                      <!--<p>Find me in app/views/plant/index.html.erb</p>-->
                    </div>
                    <div class="tab-pane" id="experts">
                        <div class="experts-info" >
                            <%= render :file => "subviews/experts.html.erb", :layout => nil %>
                        </div>
                    </div>
                    <div class="tab-pane" id="services">客服帮助</div>
                    <div class="tab-pane" id="other_links">相关链接</div>
                </div>
                <div class="col-md-3">
                    <div id="id_contact">
                        <!--Contact Info Section-->
                        <a href="#"><img class="zixun" src=<%= image_path("views/plant_index/btn_zixun.gif") %> /></a>
                        <a href="#"><img class="phone" src=<%= image_path("views/plant_index/btn_phone.gif") %> /></a>
                        <p class="firstline">单位：东北林业大学</p>
                        <p>电话：15846075538</p>
                        <p>QQ: 403417524 <a href="#"> <img class="qq_img" src=<%= image_path("views/plant_index/btn_qq.gif") %> /></a> </p>
                        <p>邮箱：gz13274763211@126.com</p>
                        <p>邮编：150040</p>
                    </div>

                    <br/><hr/>

                    <div id="id_login">
                        <!--Login Section-->
                        <form role="form">
                            <div class="form-group">
                                <p>登 录</p>
                                <div class="input-group inputEmail">
                                    <input type="email" class="form-control input-sm" id="id_InputEmail"
                                           placeholder="Enter email">
                                             <span class="input-group-addon"><img class="grp_btn" src=<%= image_path("views/plant_index/btn_user.png") %>/>
                                             </span>
                                </div>
                                <div class="input-group inputPassword">
                                    <input type="password" class="form-control input-sm" id="id_InputPassword"
                                           placeholder="Password">
                                            <span class="input-group-addon"><img class="grp_btn"
                                                                                 src=<%= image_path("views/plant_index/btn_lock.png") %> />
                                            </span>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox">记住密码</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-sm">登 录</button>
                                <button type="submit" class="btn btn-warning btn-sm">注 册</button>
                                <br/><br/><hr/>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
</article>
