<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
    <!--网页元数据-->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="Description" content="中国园林植物资源应用数据库及网络咨询服务系统---园林植物模块首页">
    <meta name="Keywords" content="园林植物，园林应用，园林植物资源数据库，咨询服务">
    <meta name="Author" content="Dong Zheng">
    <meta name="viewport" content="initial-scale=1.0,width=device-width maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <!--引入CSS框架-->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-theme.css" rel="stylesheet" media="screen">
    <link href="/css/site-specific.css" rel="stylesheet" media="screen">
    <link href="/css/site-plants-specific.css" rel="stylesheet" media="screen">
    <!--<link href="/plant/css/plant_show.css" rel="stylesheet" media="screen">-->
    <link type="text/css" rel="stylesheet" href="/plant/multiselect/absearch.css">
    <link href="/plant/css/plant_show.css" rel="stylesheet" media="screen">

    <!--引入js脚本-->
    <script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/holder.js"></script>
    <script type="text/javascript" src="/plant/multiselect/plant_show.js"></script>

    <title>中国园林植物资源应用数据库</title>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="navbar-header" >
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand">首页</a>
                    </div>
                    <nav class="nav  navbar-collapse" role="navigation"  >
                        <ul class="nav navbar-nav">
                            <li><a href="#">园林植物</a></li>
                            <li>
                              <%=link_to '景观植物','/plant/plant_querying'  %>
                              <!--<a href="#">植物景观</a>-->
                            </li>
                            <li><a href="#">景观设计施工养护</a></li>
                            <li><a href="#">园林植物百科全书</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">关于</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </nav>

    <header id="banner" class="banner no-radius">
        <div class="container text-center">
        </div>
    </header>
    <div class="shadow" style=" -webkit-animation: anim_top2bottom 2s ease-out 0 1 forwards;"></div>

    <article class="container">

      <section id="id-plant-show" class="row row-section" style="margin-top: -400px">
        <div id="id-details-panel" class="col-md-10 col-md-offset-1  panel-styles">
          <div class="col-md-8 put-left-corners" style="height: 100%;">
            <div id="plant-title" class="row">
                  <%= @zhong[0].cname %>
              <div id="bar-line"></div>
            </div>
            <div id="plant-toppart" class="row">
              <div class="col-md-5 plant-toppart-a">

                <a href="#" class="thumbnail" title=<%= @q_cname%>>
                  <img src= <%= '/plant/img/'+@pic_dir1+'/'+@pic_dir2+'/'+"1.jpg" %>  alt=<%= @q_cname%>/>
                </a>

                <% if @img_count > 1 %>
                <a href="#" class="thumbnail"  title=<%= @q_cname%>>
                  <img src=<%= '/plant/img/'+@pic_dir1+'/'+@pic_dir2+'/'+"2.jpg" %> alt=<%= @q_cname%>>
                </a>
	            <% end %>

              </div>
              <div class="col-md-7">
                <div class="field_row"><span class="field_label" >名称: </span> <span class="field_content"><%= @zhong[0]
                                                                                                        .cname
                %></span></div>
                <div class="field_row"><span class="field_label">拉丁名: </span> <span class="field_content"><%= @zhong[0].ldname %></span></div>
                <div class="field_row"><span class="field_label">科/属: </span> <span class="field_content"><%= @zhong[0].shu.ke.name %>
                  <span>/</span><%=" "+@zhong[0].shu.name %></span></div>
                <div class="field_row"><span class="field_label">形态: </span>  <span class="field_content"><%= @zhong[0].xingtai
                %></span></div>
                <div class="field_row"><span class="field_label">株型: </span> <span class="field_content"><%= @zhong[0].xingzhuang
                %></span></div>
                <div class="field_row"><span class="field_label">适宜光照环境: </span> <span class="field_content"><%= @zhong[0].shengtai.light
                %></span></div>
                <div class="field_row"><span class="field_label">土壤水分: </span>  <span class="field_content"><%= @zhong[0].shengtai
                                                                                           .moisture %></span></div>
                <div class="field_row"><span class="field_label">空气湿度: </span> <span class="field_content"><%= @zhong[0].shengtai.huminity
                %></span></div>
                <div class="field_row"><span class="field_label">寿命: </span> <span class="field_content"><%= @zhong[0].shengtai.shouming
                %></span></div>
                <div class="field_row"><span class="field_label">生长速度: </span><span class="field_content"><%= @zhong[0].shengtai.sudu
                %></span></div>
                <div class="field_row"><span class="field_label">根系: </span> <span class="field_content"><%= @zhong[0].shengtai.genxi
                %></span></div>
                <div class="field_row"><span class="field_label">栽植难易性: </span><span class="field_content"><%= @zhong[0].shengtai.nanyi
                %></span></div>
                <div class="field_row"><span class="field_label">观赏部位: </span> <span class="field_content"><%=@guanshang %></span></div>
                <div class="field_row"><span class="field_label">功能性状: </span> <span class="field_content"><%=@zhong[0].gongneng.join(",
                ") %></span></div>
              </div>
            </div>

            <div id="plant-bottompart" class="row">
              <div class="field_row"><span class="field_label">中国自然分布区域: </span> <span
                   class="field_content"><%=@zhong[0].engineering.ziran_quyu %></span></div>
              <div class="field_row"><span class="field_label">中国应用区域(省/市): </span> <span
                   class="field_content"><%=@chandi %></span></div>


              <div class="field_row"><span class="field_label">花期: </span> <span class="field_content"><%=@zhong[0].huaqi %></span></div>
              <div class="field_row"><span class="field_label">温度: </span> <span class="field_content"><%=@zhong[0].shengtai.temperature
              %></span></div>
              <div class="field_row"><span class="field_label">土壤: </span> <span class="field_content"><%=@zhong[0].shengtai.soil
              %></span></div>
              <div class="field_row"><span class="field_label">主要识别特征: </span><span class="field_content"><%=@zhong[0].engineering
                                                                                        .shibie_tezheng %></span></div>
              <div class="field_row"><span class="field_label">种植密度: </span> <span class="field_content"><%=@zhong[0].engineering
                                                                                       .zhongzhi_midu %></span></div>
              <div class="field_row"><span class="field_label">苗木规格: </span> <span class="field_content"><%=@zhong[0].engineering
                                                                                       .miaomu_guige %></span></div>
              <div class="field_row"><span class="field_label">设计建议: </span> <span class="field_content"><%=@zhong[0].engineering
                                                                                       .sheji_jianyi %></span></div>
              <div class="field_row"><span class="field_label">施工要点: </span> <span class="field_content"><%=@zhong[0].engineering
                                                                                       .shigong_yaodian %></span></div>
              <div class="field_row"><span class="field_label">养护要点: </span> <span class="field_content"><%=@zhong[0].engineering
                                                                                       .yanghu_yaodian %></span></div>
              <div class="field_row"><span class="field_label">参考价格: </span> <span class="field_content"><%=@zhong[0].engineering
                                                                                       .cankao_jiage %></span></div>
            </div>

            <div id="plant-bottom-pics" class="row">
              <div class="col-md-6">
                <% nTemp = 3 %>
                <% while nTemp <= @img_count do %>
                <a href="#" class="thumbnail"  title=<%= @q_cname%>>
                  <img src=<%= '/plant/img/'+@pic_dir1+'/'+@pic_dir2+'/'+nTemp.to_s+".jpg" %> alt=<%= @q_cname%>>
                </a>
	            <% nTemp = nTemp + 2 %>
	            <% end %>
              </div>

              <div class="col-md-6">
                <% nTemp = 4 %>
                <% while nTemp <= @img_count do %>
                    <a href="#" class="thumbnail"  title=<%= @q_cname%>>
                      <img src=<%= '/plant/img/'+@pic_dir1+'/'+@pic_dir2+'/'+nTemp.to_s+".jpg" %> alt=<%= @q_cname%>>
                    </a>
                    <% nTemp = nTemp + 2 %>
                <% end %>
              </div>

            </div>
          </div>

          <div class="col-md-4">
            <div id="id-show-right-panel">

              <div class="panel panel-default">
                <div class="panel-header"><span id="header-text">植物科</span></div>
                <div class="panel-body">

                  <% for i in 0..@ke.count - 1 %>
                      <a href="#" class="attr-item"><span><%=@ke[i].name %></span></a>
                  <% end %>

                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-header"><span id="header-text">植物图片库</span></div>
                <div class="panel-body" >
                  <div class="row disp-pic">

                    <div class="col-md-6 pics-left-col">
                      <% for i in 0..2 do %>
                      <a href="#" class="thumbnail" title=<%= @all_img_arr[i][1]%>>
                        <img src=<%= @all_img_arr[i][0] %> alt=<%= @all_img_arr[i][1]  %>>
                      </a>
	                  <% end %>
                    </div>

                    <div class="col-md-6 pics-right-col">
                      <% for i in 3..5 do %>
                          <a href="#" class="thumbnail" title=<%= @all_img_arr[i][1]%>>
                            <img src=<%= @all_img_arr[i][0] %> alt=<%= @all_img_arr[i][1]  %>>
                          </a>
                      <% end %>
                    </div>

                  </div>
                </div>

                <div style="height: 20px"></div>
                <div class="panel panel-default quhua_list">
                  <div class="panel-heading">园林植物区划及代表城市</div>
                  <div class="panel-body">
                    <ul>
                      <li>II区 温带针阔叶混交林区         [哈尔滨]</li>
                      <li>III区 北部暖温带落叶阔叶林区    [北京]</li>
                      <li>IV区 南部暖温带落叶阔叶林区     [郑州]</li>
                      <li>V区 北亚热带落叶/阔叶混交林区   [南京]</li>
                      <li>VI区 中亚热带常绿/落叶阔叶林区  [杭州]</li>
                      <li>VII区 南亚热带常绿阔叶林区     [广州]</li>
                      <li>VIII区 热带季雨林及雨林区      [海口]</li>
                      <li>IX区 温带草原区                [兰州]</li>
                      <li>X区 温带荒漠区                 [乌鲁木齐]</li>
                    </ul>
                  </div>
                </div>



            </div> <!--id="id-kes-list-panel"-->

          </div> <!--id-details-right-panel-->

          </div>
        </div>
      </section>

    </article>

    <!--<br/><br/><br/><br/><br/>-->
</body>
</html>